body {
  font-family: 'Jua', sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #35465d;
}
.file-upload {
    padding: 15% 3%;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1.5px #f6f7fa;
    background-color: #f6f7fa;
}
.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}
#loading {
  display: none;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
    width: 60%;
    margin: 0 auto;
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    border: dashed 1.5px #35465d;
    background-color: #ffffff;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #35465d82;
    border: 1.5px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 500;
  text-transform: uppercase;
}

.file-upload-image {
  max-height: 60%;
  max-width: 60%;
  margin: auto;
  padding: 10px;
}

.try-again-btn {
  border-radius: 40px;
  border: solid 1.5px #35465d;
  background-color: #35465d;
}

.try-again-text {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  padding: 4px 15px;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.navbar-light .navbar-brand {
  line-height: 1.68;
  text-align: left;
  color: #35465d; 
}

.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

.section {
    margin-top: 50px;
}

.title {
  line-height: 1.67;
  text-align: center;
  color: #35465d;
}

.subtitle {
  line-height: 1.53;
  text-align: center;
  color: #35465d;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
    .navbar-brand {
        font-size: 2rem;
    }
}


.youtube-link {
    font-size: 1.5rem;
    line-height: 1.71;
    text-align: center;
    color: #f73737;
    text-decoration: underline;
}

.youtube-link:hover {
    font-size: 1.5rem;
    line-height: 1.71;
    text-align: center;
    color: #f73737;
    text-decoration: underline;
}

.youtube-icon {
    width: 30px;
    height: 27.262px;
}

.upload {
    width: 20%;
}

.upload-text {
    width: 58%;
    font-size: 1.5rem;
    line-height: 1.53;
    text-align: center;
    color: #35465d;
    margin: 0 auto;
}

.footer {
    background-color: initial;
    color: initial;
}

.bar-container {
  height: 2.7rem;
}
.dinosaur-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.dinosaur-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(117, 204, 84, 1);
}
.deer-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.deer-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(117, 204, 84, 1);
}
.dog-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(27, 175, 234, 0.2);
}
.dog-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(27, 175, 234, 1);
}
.cat-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(251, 176, 59, 0.2);
}
.cat-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(251, 176, 59, 1);
}
.bear-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(195, 140, 102, 0.2);
}
.bear-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(195, 140, 102, 1);
}
.fox-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(49, 132, 155, 0.2);
}
.fox-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(49, 132, 155, 1);
}
.rabbit-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(235, 166, 190, 0.2);
}
.rabbit-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(235, 166, 190, 1);
}
.percent-text {
  font-size: 1rem;
  color: #ffffff;
}
.animal-label {
    width: 20%;
    text-align: left;
    height: 2rem;
}
#label-container {
    width: 80%;
    margin: 0 auto;
}
.result-message {
    font-size: 2rem;
}


.animal-explain {
    font-size: 1.5rem;
}
.dinosaur-animal-title {
    color: #3ba363;
}
.dinosaur-animal-celeb {
    color: #3ba363;
    font-size: 1.2rem;
}
.deer-animal-title {
    color: #3ba363;
}
.deer-animal-celeb {
    color: #3ba363;
    font-size: 1.2rem;
}
.cat-animal-title {
    color: #ff6c0a;
}
.cat-animal-celeb {
    color: #ff6c0a;
    font-size: 1.2rem;
}
.dog-animal-title {
    color: #548dd4;
}
.dog-animal-celeb {
    color: #548dd4;
    font-size: 1.2rem;
}
.rabbit-animal-title {
    color: #e56995;
}
.rabbit-animal-celeb {
    color: #e56995;
    font-size: 1.2rem;
}
.bear-animal-title {
    color: #9b6b43;
}
.bear-animal-celeb {
    color: #9b6b43;
    font-size: 1.2rem;
}
.fox-animal-title {
    color: #31849b;
}
.fox-animal-celeb {
    color: #31849b;
    font-size: 1.2rem;
}

/* gender */
input#gender {
  display: none;
}

label {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 41px;
  box-shadow: 0 0 0 8px #e5e9ea inset;
  border-radius: 30px;
  position: relative;
}

.knob {
  position: absolute;
  width: 41px;
  top: 0;
  left: 0;
  height: 41px;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #f470a7 inset;
  background-color: #fbd4e6;
  transition: 0.3s;
}

.knob > i {
  position: absolute;
  width: 4px;
  height: 18px;
  top: 100%;
  background-color: #f470a7;
  left: calc(50% - 2px);
}

.knob > i:before,
.knob > i:after {
  width: 6px;
  position: absolute;
  top: 42%;
  content: "";
  height: 4px;
  background-color: #f470a7;
}

.knob > i:before {
  left: 4px;
}
.knob > i:after {
  left: -6px;
}

input:checked + label > .knob {
  box-shadow: 0 0 0 8px #a1c6dd inset;
  background-color: #e2ecf4;
  transform: translateX(49px) rotate(-140deg);
}

input:checked + label > .knob > i {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after,
input:checked + label > .knob > i:before {
  background-color: #a1c6dd;
}

input:checked + label > .knob > i:after {
  top: 14.5px;
  width: 12px;
  left: -7px;
  transform: rotate(45deg);
}
input:checked + label > .knob > i:before {
  top: 13px;
  width: 12px;
  left: 0px;
  transform: rotate(134deg);
}

.ad-banner {
    max-width: 320px;
}